<div class="flex items-center justify-center min-h-screen">
  <div class="text-center flex flex-col items-center">
    <h1 class="text-xl text-center font-bold text-color border-solid p-4">
      {{ titlePageNotFound }}
    </h1>
    <p class="text-[16px] text-gray-600 mt-4 w-85 p-4">
      {{ contentPageNotFound }}
    </p>
    <button
      (click)="goToHome()"
      class="mt-6 inline-block px-6 py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700"
    >
      Voltar Home
    </button>
  </div>
</div>
